.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}


.container-header {
  display: flex;
  justify-content: center;
  margin: 0;
}

.calendar-image {
  width: 50px;
}

.time-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

#current-time {
  color: green;
  font-weight: bold;
}


